## Server / discord redirect uri
PORT=603
REDIRECTURI=http://localhost:603/oauth/callback # change the port of here to the port you have set above.

## discord config
TOKEN=token
CLIENTID=clientid
CLIENTSECRET=clientsecret
PREFIX="prefix" # set it to whatever you want doesnt really matter.
OWNER=ownerid

## database (postgres) - we use drizzle as our orm tho
URL=postgresurl
